.bx-wrapper .slide {
	position:relative;	
}
.bx-wrapper .slide .slider-caption {
	position:absolute;
	margin:0 auto;
	width:100%;
	max-width:767px;
	text-align:center;
	left:0;
	right:0;
	top:10%;
	z-index:100;
}
.bx-wrapper .slide .slider-caption h1 {
	display:block;
	text-align:center;
	font-family:"Oxygen",sans-serif;
	font-weight:bold;
	font-size:30px;
	color:#fff;	
}
.bx-wrapper .slide .slider-caption p {
	display:block;
	text-align:center;
	font-family:"Oxygen",sans-serif;
	font-weight:normal;
	font-size:18px;
	line-height:22px;
	color:#fff;
	margin-bottom:20px;	
}
.bx-wrapper #slide-2.slide .slider-caption h1,
.bx-wrapper #slide-2.slide .slider-caption p {
	color:#404040;	
}