<?xml version="1.0"?>
<config>
	<default>
		<bannerslider>
			<sliderconfig>                
				<responsive>true</responsive>
				<mode>horizontal</mode>
				<speed>4000</speed>
				<auto>false</auto>
				<pause>4000</pause>
				<autoHover>false</autoHover>
				<pager>true</pager>
				<controls>true</controls>
				<captions>false</captions>
				<orderby>1</orderby>
			</sliderconfig>
		</bannerslider>
	</default>
  <modules>
    <SolutionExcel_BannerSlider>
      <version>0.1.0</version>
    </SolutionExcel_BannerSlider>
  </modules>
  <frontend>
    <routers>
      <bannerslider>
        <use>standard</use>
          <args>
            <module>SolutionExcel_BannerSlider</module>
            <frontName>bannerslider</frontName>
          </args>
      </bannerslider>
    </routers>
		<layout>
		  <updates>
			<bannerslider>
			  <file>bannerslider.xml</file>
			</bannerslider>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <bannerslider>
        <class>SolutionExcel_BannerSlider_Helper</class>
      </bannerslider>
    </helpers>
	<blocks>
	  <bannerslider>
		<class>SolutionExcel_BannerSlider_Block</class>
	  </bannerslider>
	</blocks>
	<models>
	  <bannerslider>
		<class>SolutionExcel_BannerSlider_Model</class>
		<resourceModel>bannerslider_mysql4</resourceModel>
	  </bannerslider>
	  <bannerslider_mysql4>
		<class>SolutionExcel_BannerSlider_Model_Mysql4</class>
		<entities>		  
			  <banner>
				<table>banner</table>
			  </banner>
        </entities>
	  </bannerslider_mysql4>
	</models>
	<resources>
	  <bannerslider_setup>
		<setup>
		  <module>SolutionExcel_BannerSlider</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </bannerslider_setup>
	  <bannerslider_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </bannerslider_write>
	  <bannerslider_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </bannerslider_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <bannerslider>
	    <use>admin</use>
		<args>
		  <module>SolutionExcel_BannerSlider</module>
		  <frontName>admin_bannerslider</frontName>
		</args>
	  </bannerslider>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <bannerslider>
	  	<title>Banner Slider</title>
		<sort_order>65</sort_order>
		<children>
		  <banner module="bannerslider">
		    <title>Manage Banner</title>
			<sort_order>40</sort_order>
			<action>admin_bannerslider/adminhtml_banner</action>
		  </banner>
		  <slidersetting module="bannerslider">
				<title>Slider Settings</title>
				<sort_order>50</sort_order>
				<action>adminhtml/system_config/edit/section/bannerslider</action>
			</slidersetting>
		</children>
	  </bannerslider>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<bannerslider translate="title" module="bannerslider">
			  <title>BannerSlider</title>
			  <sort_order>1000</sort_order>
			  <children>
				  <banner translate="title">
					<title>Manage Banner</title>
					<sort_order>0</sort_order>
				  </banner>
			  </children>
			</bannerslider>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<bannerslider>
		  <file>bannerslider.xml</file>
		</bannerslider>
	  </updates>
	</layout>
  </adminhtml>
</config> 